script(src="/javascripts/profile.js")
div(class="profile-container d-flex flex-column") profile
    form(class="d-flex flex-row justify-content-center align-items-center" id="form-avatar" action="/users/update/image" method="post" enctype="multipart/form-data" )
        
        img(src=user.avatar  class="img-fluid" id="img-profile")
        if((user._id.toString() === currentUser._id.toString()))
            input(type="file" name="avatar" class="d-none" id='input-avatar')
    div(class="d-flex flex-row justify-content-center align-items-center my-3")
        p #{user.userName} (#{user.local.email})
    div(class="d-flex flex-row justify-content-center align-items-center text-center")
        if(tweets)
            div(class="flex-fill")
                p 
                    strong Tweet 
                    br
                    span= tweets.length
        div(class="flex-fill")
            p 
                strong Follow 
                br
                span *
