if tweets 
                each tweet in tweets 

                    div(class="card tweet-element")
                        div(class='card-body')
                            div(class="card-text")= tweet.content
                            button(class="btn btn-danger  float-end" tweetid=tweet._id) X
                            button(class="btn btn-primary float-start" tweetid= tweet._id) Edit 